*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html , body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    background-color: #f6f6f0;
    padding-top: 1px;
    position: relative;
}

nav{
    height: 12vh;
    width: 100%;
    /* background: crimson; */
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1{
    /* background-color: aqua; */
    font-size: 50px;
    letter-spacing: -4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

nav h3{
    display: none;
}

nav h1::after{
    content: '©';
    font-size: 20px;
    position: absolute;
    left: 85%;
    top: 20%;
}


nav h2{
    /* background-color: aqua; */
    height: 100%;
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 25px;
    font-weight: 400;
}

nav h2:nth-last-child(1){
    /* background-color: #c17b7b; */
    width: 10%;
}

nav h2:nth-last-child(2){
    /* background-color: #c17b7b; */
    width: 30%;
}

nav i{
    font-size: 30px;
}

#center{
    height: 82.5%;
    width: 100%;
    /* background: #9c6868; */
    position: relative;
    display: flex;
    justify-content: space-between;
}

#left{
    /* background: #0d567d; */
    width: 60%;
    height: 100%;
    padding-left: 10px;
}

#left video{
    height: 99%;
    width: 100%;
    object-fit: contain;
}

#right{
    /* background: #530d86; */
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

#right #top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    /* padding-right: 20px; */
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#right #bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
    /* padding-right: 50px; */
    /* padding-left: 50px; */
    font-size: 50px;
}

#right i{
    font-size: 50px;
}

#bottom i{
    padding-right: 100px;
}

#right h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}

#right h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
}

#right hr{
    height: 4px;
    background-color: black;
}

#scroll{
    height: 35vh;
    width: 100%;
    /* background-color: rgb(61, 123, 138); */
    /* padding: 1vw; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #ffffff;
}

#container{
    height: 100%;
    width: 100%;
    /* background-color: #5d3131; */
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#scroll img{
    /* display: none; */
    height: 100%;
    width: 11%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: 2vw;
    padding-bottom: 10px;
}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabets{
    height: 10vh;
    width: 100%;
    background-color: #e5e5d9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}



#alphabets h5{
    font-size: 2.5vw;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 4px;
}


#alphabets h6{
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    font-size: 1vw;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
    /* border-bottom: 2px solid black; */
    letter-spacing: 4px;
    padding: 0.5vw;
    border: 1px solid #00000000;
    border-radius: 50px;
    /* background-color: blueviolet; */
    height: 25px;
    cursor: pointer;
    transition: all ease 0.2s;
}

#alphabets h6:hover{
    border: 1px solid #000;
}


#page2{
    height: 100%;
    width: 100%;
    /* background-color: #b37d7d; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 20px 60px;
}
#page2 #p3{
    display: none;
}

#page2 #left{
    height: 100%;
    width: 50%;
    background-image: url(https://i.pinimg.com/474x/80/9f/5a/809f5aa1a3439a898f2c379d2ab28414.jpg);
    background-size: cover;
    background-position: center;
    /* border-radius: 10px; */
}
#page2 #right {
    height: 65%;
    width: 45%;
    /* background-color: #724343; */
}

#right img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* border-radius: 10px; */
}

#r-bottom{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-size: 20px;

}

#r-bottom #p1{
    font-weight: 600;
    font-size: 25px;
}

#page3{
    height: 100%;
    width: 100%;
    /* background-color: #7c5050; */
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

#page3 h1{
  padding: 20px;
  font-style: italic;
  font-size: 40px;
  /* background-color: #ffff */
}

#left3{
    height: 100%;
    width: 40%;
    /* background-color: #914390; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

#right3{
    height: 100%;
    width: 60%;
    /* background-color: #1f6b4f; */
    position: relative;
}

#right3 img{
    padding: 20px;
    height: 100%;
    width: 100%;
  object-fit: cover;
  object-position: top;
  padding-left: 100px;
}

#left3 #left-top {
    height: 150px;
    width: 150px;
    /* background-color: #997575; */
    font-size: 80px;
    border-radius: 50%;
    padding: 7%;
    border: 5px dashed black;
}

#left-bottom p{
    font-size: 25px;
}

#page4{
    width: 100%;
    height: 100%;
    /* background-color: #659f9d; */
    text-transform: uppercase;
    text-align: center;
    font-size: 2vw;
    padding: 10px 80px;
}

#page4 h1{
    padding-bottom: 50px;
}
.elem{
    height: 18vh;
    width: 100%;
    /* background-color: #8badad; */
    border-top: 2px solid black;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

#elem4{
    border-bottom: 2px solid black;
}


.elem h4{
    text-align: center;
    font-weight: 400;
}

.elem img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
}

#page5{
    height: 100%;
    width: 100%;
    /* background-color: #a96d6d; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
}

#left5{
    height: 100%;
    width: 40%;
    /* background-color: #cb7c7c; */
    margin-right: 20px;
    background-image: url(https://i.pinimg.com/474x/66/14/1f/66141f6762b15c22043d2f9b61d4ede7.jpg);
    background-size: cover;
    background-position: bottom;
}

#right5{
    height: 100%;
    width: 55%;
    /* background-color: #2f8787; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#right5 #right-top{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* align-items: center; */
    /* background-color: #916666; */
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    /* text-transform: uppercase; */
}

#right5 #right-top p{
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#right5 #right-bottom{
    height: 50%;
    width: 100%;
    /* background-color: #29597b; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#right5 #right-bottom img{
    height: 100%;
    width: 100%;
}

#page6{
    height: 100%;
    width: 100%;
    /* background-color: #5d4242; */
    padding: 20px 60px;
}

#page6 img{
    /* border: 3px solid rgba(0, 0, 0, 0); */
    height: 100%;
    width: 100%;
    border-radius: 2px;
}

img:hover{
    border: 3px solid #000;
}

#marque{
    width: 100%;
    background-color: #80b9bb;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 2vw;
}

#marque h1{
    display: inline-block;
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    margin-right: 25px;
    animation-name: anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

footer{
    width: 100%;
    height: 50%;
    /* background-color: #b761b8; */
    display: grid;
    grid-template-columns: 30% 10% 20% 40%;
    grid-template-rows: 40% 60%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-top: 20px;
}

#col1{
    /* background-color: #09585a; */
    grid-column: 1;
    grid-row: 1/3;
    font-size: 30px;
    letter-spacing: -5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10%;
    position: relative;
}

footer h1::after{
    content: '©';
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 63%;
    top: 5%;
}

footer h1::before{
    content: 'model management';
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    left: 40%;
    top: 25%;
}

#col2{
    /* background-color: #719e53; */
    grid-column: 2;
    grid-row: 1/3;
    border-right: 2px solid black;
}

#col3{
    /* background-color: #cfd47c; */
    grid-column: 3;
    grid-row: 1/3;
    border-right: 2px solid black;
}

#col4-ro1{
    /* background-color: #c59c3c; */
    grid-column: 4;
    grid-row: 1;
    border-bottom: 2px solid black;
}

#col4-ro2{
    /* background-color: #1e683a; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 40px;
    font-size: 2vw;
}

footer h5{
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}


#jabran{
    width: 100%;
    height: 10%;
}
 

@media (max-width:600px) {

.main{
    overflow-x: hidden;
}

    nav{
        height: 12vh;
        margin-top: 20px;
    }
    
    nav h1{
        font-size: 30px;
        letter-spacing: -2px;
        width: 30%;
    }
    
    nav h3{
        display: block;
        margin-right: 5px;
    }
    
    nav h1::after{
        display: none;
    }
    
    
    nav h2{
        display: none;
    }
    
    nav h2:nth-last-child(1){
        display: none;
    }
    
    nav h2:nth-last-child(2){
         display: none;
    }
    
    nav i{
        display: block;
    }


    #center{
        height: 82.5%;
        width: 100%;
        /* background: #9c6868; */
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    #left{
        /* background: #0d567d; */
        width: 100%;
        height: 60%;
        padding: 10px;
    }
    
    
    #right{
        /* background: #530d86; */
        width: 100%;
        height: 100%;
    }
    
    #right #top {
        padding: 10px;
        /* padding-right: 20px; */
        font-size: 10px;
    }
    
    #right #bottom {
        padding: 27px;
        /* padding-right: 50px; */
        /* padding-left: 50px; */
        font-size: 20px;
    }
    
    #right i{
        font-size: 30px;
        margin-right: 100px;
    }
    
    #bottom i{
        /* padding-right: 100px; */
        margin-right: 50px;
    }
    
    #scroll{
        height: 18vh;
        background-color: #ffffff;
    }
    
    #container{
        height: 100%;
        width: 100%;
        /* background-color: #5d3131; */
        display: inline-block;
        padding: 2vw;
        animation-name: anime;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
    #scroll img{
        /* display: none; */
        height: 95%;
        width: 15%;
    }
    
    #alphabets{
        height: 10vh;
        width: 100%;
        gap: 0.5vw;
    }
    
    
    
    #alphabets h5{
        font-size: 3vw;
        font-weight: 400;
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: 1px;
        margin-right: 5vh;
    }
    
    
    #alphabets h6{
        font-size: 2.5vw;
        font-weight: 400;
        /* border-bottom: 2px solid black; */
        letter-spacing: 2px;
        padding: 0.2vw;
        border: 1px solid #00000000;
        border-radius: 50px;
        /* background-color: blueviolet; */
        height: 25px;
    }
    
    #alphabets h6:hover{
        border: 1px solid #000;
    }


    #page2{
        padding: 20px;
        position: relative;
    }
    
    #page2 #left{
        height: 70%;
        width: 50%;
    }
    #page2 #right {
        height: 65%;
        width: 45%;
        /* background-color: #724343; */
    }
    
    #right img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        /* border-radius: 10px; */
    }
    
    #r-bottom {
        padding-top: 30px;
        font-size: 20px;
        flex-direction: column;
    
    }
    
    #r-bottom #p1{
        font-weight: 600;
        font-size: 20px;
    }

    #r-bottom #p2{
        display: none;
    }

     #page2 #p3{
        display: block;
        font-size: 20px;
      position: absolute;
      top:75%;
    }

    #page3{
        padding: 20px;
    }
    
    #page3 h1{
      font-size: 20px;
      /* background-color: #ffff */
    }
    
    #left3{
        height: 100%;
        width: 30%;
        flex-direction: column;
        padding: 10px;
    }
    
    #right3{
        height: 100%;
        width: 60%;
        /* background-color: #1f6b4f; */
        position: relative;
    }
    
    #right3 img{
        padding: 10px;
      padding-left: 10px;
    }
    
    #left3 #left-top {
        height: 100px;
        width: 100px;
        /* background-color: #997575; */
        font-size: 60px;
        padding-left: 18px;
    }
    
    #left-bottom p{
        font-size: 17px;
    }


    #page4{
        text-align: center;
        font-size: 3vw;
        padding: 10px 20px;
    }
    
    #page4 h1{
        padding-bottom: 50px;
    }
    .elem{
        padding: 10px 20px;
    }
    
    
    .elem img{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        left: 40%;
    }  

    #page5{
        padding: 10px 10px;
    }
    
    #left5{
        height: 100%;
        width: 40%;
        /* background-color: #cb7c7c; */
        margin-right: 20px;
        background-image: url(https://i.pinimg.com/474x/66/14/1f/66141f6762b15c22043d2f9b61d4ede7.jpg);
        background-size: cover;
        background-position: center;
    }
    
    #right5{
        height: 100%;
        width: 55%;
        /* background-color: #2f8787; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    #right5 #right-top{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        /* align-items: center; */
        /* background-color: #916666; */
        font-size: 10px;
        /* text-transform: uppercase; */
    }
    
    #right5 #right-top p{
        font-weight: 700;
        font-size: 10px;
    }
    
    #right5 #right-bottom{
        height: 50%;
        width: 100%;
        /* background-color: #29597b; */
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
    
    #right5 #right-bottom img{
        height: 100%;
        width: 50%;
    }

    #page6{
        padding: 20px;
    }

    #marque{
        padding: 4vw;
    }
    
    #marque h1{
        font-size: 6vw;
    }

    footer{
       display: flex;
       justify-content: space-around;
       flex-direction: column;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        margin-top: 10px;
    }
    
    #col1{
        font-size: 20px;
        letter-spacing: -3px;
        margin-bottom: 2%;
    }
    
    footer h1::after{
        font-size: 20px;
        left: 45%;
        top: 4%;
    }
    
    footer h1::before{
        font-size: 10px;
        letter-spacing: 1px;
        left: 20%;
        top: 80%;
    }
    
    #col2{
        border-top: 2px solid black;
    }
    
    #col3{
        border-top: 2px solid black;
    }
    
    #col4-ro1{
    border-top: 2px solid black;
    padding: 8px;
    }
    
    #col4-ro2{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 10px;
        font-size: 3vw;
    }
    
    footer h5{
        font-size: 3vw;
        font-weight: 400;
        text-align: center;
        padding: 10px;
    }

}